<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
  
  {% block title %}<title>Essential Oils</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <p class="greeting">
      {% if user.is_authenticated %}
        <strong>Hello, {{ user.username }}</strong>
      {% else %}
        <strong>Hello, Guest</strong>
      {% endif %}
      </p>
      <ul class="sidebar-nav">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'product' %}">Products</a></li>
        <li><a href="{% url 'ailment' %}">Ailments</a></li>
        <li><a href="{% url 'search' %}">Search</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'cart' %}">Cart</a></li>
        {% endif %}
        <hr/>
        {% if user.is_authenticated %}
          <li><a href="{% url 'user_details' %}">Account Info</a></li>
          <li><a href="{% url 'auth_password_change' %}">Change Passsword</a>
          <li><a href="{% url 'auth_logout' %}?next=/catalog/">Logout</a>
        {% else %}
          <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
          <li><a href="{% url 'auth_login' %}">Login</a>
        {% endif %}
      </ul>
      {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>