{% extends 'catalog/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Name: {{ product.name }}</h1>
            <p>
                <strong>Description:</strong> {{ product.description }}
            </p>    
            <p>
                <strong>Price:</strong> ${{ product.price }}
            </p> 
            <p>
                <strong>Treatments:</strong> 
                    {% for ailment in product.ailments.all %} 
                        {{ ailment }}
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
            </p>    
            <br/>
            {% if user.is_authenticated %}
                <a href="{% url 'product_added' %}"><input type="button" name="checkout" value="Add to Cart" class="btn btn-primary"></a>
            {% endif %}
        </div>
    </div>
    
    
{% endblock %}